.container {
  /* border-left: 1px solid var(--softTextColor);b */
}

.container {
  padding: 10px;
}

.imgTextContainer {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}

.img {
  border-radius: 100%;
  object-fit: cover;
}

.name,
.date {
  color: var(--textColor);
  font-size: 0.9rem;
}

.dateNameContainer,
.likeDislikeContainer {
  display: flex;
  gap: 10px;
}

.textContainer {
  display: grid;
  gap: 5px;
}

.Count {
  font-size: 0.9rem;
  color: var(--softTextColor);
}

.ldContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment {
  line-height: 150%;
  color: var(--textColor);
}

.LdIcon {
  color: var(--softTextColor);
}

.replyContainer {
  margin-top: 2rem;
}

.inputContainer {
  margin-top: 1rem;
}

.input {
  border: none;
  outline: 1px solid var(--softTextColor);
  height: 5rem;
  padding: 7px;
  width: -webkit-fill-available;
  border-radius: 5px;
  font-family: inherit;
  color: var(--textColor);
  font-size: 1rem;
  background-color: var(--softBg);
  resize: none;
}

.btnContainer {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}

.button {
  padding: 5px 10px;
  width: 100px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  color: #eee;
  background-color: #2b7a0b;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
