.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0px;
  background-color: var(--bg);
  height: 100vh;
  width: 100%;
  z-index: 10;
  transition: ease-in-out 0.3s;
  align-items: center;
  justify-content: space-between;
  border-top: var(--textColor) 1px solid;
  transform: translateY(700px);
  opacity: 0;
  transition: ease-in-out 0.4s;
}
.show {
  opacity: 1;
  transform: translateY(0px);
}
.links {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.link {
  text-align: center;
  font-size: 2rem;
  color: var(--textColor);
}

.header {
  width: 100%;
}

.closeIcon {
  color: var(--textColor);
  font-size: 35px;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .container {
    display: none;
  }
}
