.container {
  width: 42px;
  height: 20px;
  border-radius: 12px;
  background-color: var(----bg);
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  justify-content: space-between;
  outline: 1px solid #bebdbd;
  transition: ease-in-out 0.3s;
}

.circle {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--textColor);
  transform: translateX(var(--iconTransform));
  transition: ease-in-out 0.3s;
}

.icons {
  color: var(--textColor);
}
