.container {
  display: grid;
  gap: 15px;
}

.imgContainer {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
}

.img {
  width: 100%;
  object-fit: cover;
}

.heading {
  font-size: 26px;
  font-weight: 500;
  color: var(--textColor);
}

.para {
  font-size: 1rem;
  color: var(--softTextColor);
  line-height: 120%;
}

.icon {
  font-size: 1.5rem;
  color: var(--textColor);
}


@media screen and (min-width:800px) {
  .imgContainer, .ul{
    display: flex;
    justify-self: center;
  }

  .info{
    justify-content: center;
  }

  .heading, .para{
    text-align: center;
  }
  .para{
    width: 550px;
  }
}

@media screen and (min-width:1024px) {
  .imgContainer, .ul{
    justify-self: unset;
  }

  .info{
    justify-content: unset;
  }

  .heading, .para{
    text-align: left;
  }
  .para{
    width: 450px;
  }
}
