.container {
    padding: 2rem 0;
    display: grid;
    gap: 2rem;
  }
  
  .title {
    font-size: 1.3rem;
    color: var(--textColor);
    font-weight: 500;
  }
  
  .cards {
    display: grid;
    gap: 2rem;
  }


  @media screen and (min-width: 650px) {
    .cards{
        gap: 0.9rem;
        grid-template-columns: repeat(auto-fit, minMax(min(100%, 300px), 2fr) );
    }
  }