.container {
  padding: 0.9rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.textLogo {
  font-size: large;
  font-weight: 500;
  text-decoration: solid;
  color: var(--textColor);
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 400;
}

.desLink {
  display: none;
}

.liLink {
  font-size: 1rem;
  color: var(--textColor);
  font-weight: 400;
}

.hamenu {
  display: grid;
  gap: 4px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.line {
  width: 17px;
  height: 2px;
  background-color: var(--textColor);
  transition: ease-in-out 0.3s;
}

.xline {
  width: 17px;
  height: 2px;
  background-color: var(--textColor);
  transition: ease-in-out 0.3s;
}

.xline:nth-child(1) {
  transform: rotate(45deg) translate(-5%, 5px);
}

.xline:nth-child(2) {
  display: none;
}

.xline:nth-child(3) {
  transform: rotate(-45deg) translate(-5%, -5px);
}

.stickyNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  padding: 0.9rem;
  justify-content: space-between;
  transition: ease-in-out 0.3s;
  background: rgb(97 97 97 / 28%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 5;
}

.liLoginLink {
  font-weight: 500;
  color: var(--textColor);
}
.linkBtn {
  padding: 0.4rem 0.9rem;
  outline: 1px solid var(--softTextColor);
  border-radius: 2px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.linkBtn:hover > .liLoginLink {
  color: var(--btnTextHover);
}

.linkBtn:hover {
  background-color: var(--btnBgHover);
  color: var(--btnTextHover);
  transition: ease-in-out 0.2s;
}

.userIcon,
.searchicon {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--textColor);
}

.getStarted {
  color: var(--softTextColor);
  outline: 1px solid var(--textColor);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 0.9rem;
}

@media screen and (min-width: 700px) {
  .textLogo {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
  .stickyNav {
    padding: 0.9rem 3rem;
  }

}

@media screen and (min-width: 1100px) {
  .container {
    width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    width: 1250px;
  }
}
