.container {
}

.btn {
  border: none;
  outline: none;
}

.titleInput {
  border: none;
  outline: none;
  margin: 2rem 0;
  background-color: var(--bg);
  font-size: 26px;
  color: var(--textColor);
}

.titleInput::placeholder {
  color: var(--softTextColor);
}

.coverimgcontainer {
  display: grid;
  gap: 0.7rem;
}

.imagelabel {
  width: 500px;
}

.coverimg {
  outline: 1px solid var(--darkMText2);
  width: 100%;
}

.fileInput[type="file"] {
  display: none;
}

.imagelabel {
  position: relative;
  width: 100%;
  height: 100%;
}

.coverimgcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
}

.deleteContainer {
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  z-index: 10;
}

.deleteContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: ease-in-out 0.3s;
}

.plus {
  color: var(--textColor);
  font-size: 2.3rem;
  cursor: pointer;
  z-index: 10;
}

.deleteIcon {
  color: crimson;
  font-size: 2rem;
  cursor: pointer;
}

.mediaIcon {
  color: var(--textColor);
  font-size: 2.3rem;
  cursor: pointer;
}

.mediaContainer {
  position: relative;
  display: flex;
}

.media {
  position: absolute;
  display: flex;
  gap: 10px;
  left: 70px;
  transform: translate(-100px);
  opacity: 0;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}

.showMedia {
  transform: translate(0);
  opacity: 1;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
