.container {
  margin: 2rem 0;
}

.title {
  font-size: 1.3rem;
  color: var(--textColor);
  font-weight: 500;
}

.categorylist {
  display: grid;
  gap: 13px;
  margin-top: 1rem;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
}

.listimg {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.list:nth-child(1) {
  background-color: rgb(236, 238, 129, 0.3);
}

.list:nth-child(2) {
  background-color: rgb(3, 201, 136, 0.3);
}

.list:nth-child(3) {
  background-color: rgb(255, 176, 0, 0.3);
}

.list:nth-child(4) {
  background-color: rgb(255, 238, 179, 0.3);
}

.list:nth-child(5) {
  background-color: rgb(148, 0, 255, 0.3);
}

.list:nth-child(6) {
  background-color: rgb(255, 105, 105, 0.3);
}

.list:nth-child(1):hover {
  background-color: rgb(236, 238, 129);
  cursor: pointer;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s
}

.list:nth-child(2):hover {
  background-color: rgb(3, 201, 135);
  cursor: pointer;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s
}

.list:nth-child(3):hover {
  background-color: rgb(255, 174, 0);
  cursor: pointer;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s
}

.list:nth-child(4):hover {
  background-color: rgb(255, 239, 179);
  cursor: pointer;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s
}

.list:nth-child(5):hover {
  background-color: rgb(149, 0, 255);
  cursor: pointer;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s
}

.list:nth-child(6):hover {
  background-color: rgb(255, 105, 105);
  cursor: pointer;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s
}



.listTitle {
  color: var(--textColor);
  font-size: 0.9rem;
  font-weight: 400;
}

@media screen and (min-width: 500px) {
  .categorylist {
    grid-template-columns: 2fr 2fr;
  }
}

@media screen and (min-width: 960px) {
  .categorylist {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (min-width: 1111px) {
  .categorylist {
    display: flex;
    gap: 15px;
    flex-wrap: unset;
  }

  .list {
    width: 16.6%;
    gap: 10px;
  }
}
