.container {
  padding: 10px;
}

.imgTextContainer {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}

.imgContainer {
  position: relative;
  width: 105px;
  height: 45px;
  overflow: hidden;
  outline: 1px solid var(--textColor);
  border-radius: 100%;
}

.img {
  width: 100%;
  object-fit: cover;
}

.name,
.date {
  color: var(--textColor);
  font-size: 0.9rem;
}

.dateNameContainer,
.likeDislikeContainer {
  display: flex;
  gap: 10px;
}

.textContainer {
  display: grid;
  gap: 5px;
}

.Count {
  font-size: 0.9rem;
  color: var(--softTextColor);
}

.ldContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.comment {
  line-height: 150%;
  color: var(--textColor);
}

.LdIcon {
  color: var(--softTextColor);
}

.replyContainer {
  margin-top: 2rem;
  margin-top: 2rem;
  margin-left: 1.22rem;
  border-left: 1px solid var(--softTextColor);
}

.line {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: var(--softTextColor);
  top: 43px;
  left: 20px;
}

.replies {
  position: relative;
  margin-left: 1rem;
}

.lines {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: var(--softTextColor);
  top: 43px;
  left: 20px;
}

.inputContainer {
  margin-left: 1rem;
}

.input {
  border: none;
  outline: 1px solid var(--softTextColor);
  height: 110px;
  padding: 7px;
  width: -webkit-fill-available;
  border-radius: 5px;
  font-family: inherit;
  color: var(--textColor);
  font-size: 1rem;
  background-color: var(--softBg);
  resize: none;
}

.btnContainer {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}

.button {
  padding:10px;
  width: 100px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  color: #eee;
  background-color: #2b7a0b;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.span {
  margin-top: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--commentShowReplyText);
}

.tagrepliesContainer {
  margin-top: 0.5rem;
  margin-left: 4.5rem;
}
