@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

::root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --iconTransform: 0px;
  transition: ease-in-out 0.3s;
}

.light {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --registerBtnBg: #cbccce;
  --commentShowReplyText: #362fd9;
  --iconTransform: 0px;
  --btnBgHover: #272829;
  --btnTextHover: #f7f5f2;
  --blockQuote: black;
  --codeBg: #0d0d0d;
  --codeColor: #f5f5f5;
  --inputBoxShadow1: #00000059;
  --inputBoxShadow2: #1b1f232c;
  transition: ease-in-out 0.3s;
}

.dark {
  --bg: #0a0b0c;
  --textColor: #ddd;
  --softBg: #0e0f13;
  --softTextColor: #c0c5d0;
  --registerBtnBg: #272829;
  --commentShowReplyText: #6178f3;
  --iconTransform: 23px;
  --btnBgHover: #f7f5f2;
  --btnTextHover: #272829;
  --blockQuote: #f7f5f2;
  --codeBg: #f5f5f5;
  --codeColor: #272829;
  --inputBoxShadow1: #ffffff05;
  --inputBoxShadow2: #ffffff26;
  transition: ease-in-out 0.3s;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex: 1;
}
.tiptap.ProseMirror {
  height: 5in;
  overflow: auto;
}

.tiptap.ProseMirror::-webkit-scrollbar {
  width: 0.4em;
}
.tiptap.ProseMirror:focus-visible {
  outline: none;
  border: none;
}

blockquote {
  border-left: 3px solid var(--blockQuote);
  padding-left: 1rem;
}

.tiptap.ProseMirror h1 {
  font-size: 2.5rem;
}
.tiptap.ProseMirror h2 {
  font-size: 2.2rem;
}
.tiptap.ProseMirror h3 {
  font-size: 2.1rem;
}
.tiptap.ProseMirror h4 {
  font-size: 2rem;
}
.tiptap.ProseMirror h5 {
  font-size: 1.5rem;
}
.tiptap.ProseMirror h6 {
  font-size: 1.3rem;
}

.tiptap.ProseMirror img {
  width: 100%;
}

.tiptap.ProseMirror em {
  font-style: italic;
}

.my-custom-subscript {
  vertical-align: sub;
}

.my-custom-bulletList {
  padding: 0 1rem;
  list-style-type: disc;
}
.my-custom-orderedList {
  padding: 0 1rem;
  list-style-type: style;
}
.my-custom-heading {
  color: var(--textColor);
}
.my-custom-paragraph {
  color: var(--textColor);
}

.my-custom-strong {
  color: var(--textColor);
  font-weight: bold;
}

.my-custom-listItem::marker {
  display: none;
}

.my-custom-code {
  background-color: var(--codeBg);
  border-radius: 0.25em;
  box-decoration-break: clone;
  color: var(--codeColor);
  font-size: 0.9rem;
  padding: 0.25em;
}

.my-custom-codeblock {
  background: var(--codeBg);
  border-radius: 0.5rem;
  color: var(--codeColor);
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
}
.my-custom-codeblock > code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

/* /$ my-custom-codeblocklowlight */

.my-custom-codeblocklowlight {
  background: #0d0d0d;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
}
.my-custom-codeblocklowlight code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.my-custom-codeblocklowlight .hljs-comment,
.my-custom-codeblocklowlight .hljs-quote {
  color: #616161;
}

.my-custom-codeblocklowlight .hljs-variable,
.my-custom-codeblocklowlight .hljs-template-variable,
.my-custom-codeblocklowlight .hljs-attribute,
.my-custom-codeblocklowlight .hljs-tag,
.my-custom-codeblocklowlight .hljs-name,
.my-custom-codeblocklowlight .hljs-regexp,
.my-custom-codeblocklowlight .hljs-link,
.my-custom-codeblocklowlight .hljs-name,
.my-custom-codeblocklowlight .hljs-selector-id,
.my-custom-codeblocklowlight .hljs-selector-class {
  color: #f98181;
}

.my-custom-codeblocklowlight .hljs-number,
.my-custom-codeblocklowlight .hljs-meta,
.my-custom-codeblocklowlight .hljs-built_in,
.my-custom-codeblocklowlight .hljs-builtin-name,
.my-custom-codeblocklowlight .hljs-literal,
.my-custom-codeblocklowlight .hljs-type,
.my-custom-codeblocklowlight .hljs-params {
  color: #fbbc88;
}

.my-custom-codeblocklowlight .hljs-string,
.my-custom-codeblocklowlight .hljs-symbol,
.my-custom-codeblocklowlight .hljs-bullet {
  color: #b9f18d;
}

.my-custom-codeblocklowlight.hljs-title,
.my-custom-codeblocklowlight.hljs-section {
  color: #faf594;
}

.my-custom-codeblocklowlight .hljs-keyword,
.my-custom-codeblocklowlight .hljs-selector-tag {
  color: #70cff8;
}

.my-custom-codeblocklowlight .hljs-emphasis {
  font-style: italic;
}

.my-custom-codeblocklowlight .hljs-strong {
  font-weight: 700;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ant-pagination-item-ellipsis {
  color: var(--softTextColor) !important;
}

.ant-pagination-options {
  background-color: var(--softBg) !important;
  color: var(--softTextColor) !important;
}

.ant-select
  .ant-pagination-options-size-changer
  .css-dev-only-do-not-override-fqrqg8
  .ant-select-single
  .ant-select-show-arrow
  .ant-select-show-search {
  background-color: var(--softBg) !important;
  color: var(--softTextColor) !important;
}

.ant-select-selector {
  background-color: var(--softBg) !important;
  color: var(--softTextColor) !important;
}
.ant-select-selection-item {
  background-color: var(--softBg) !important;
  color: var(--softTextColor) !important;
}

.ant-select-dropdown,
.ant-select-item .ant-select-item-option,
.ant-select-item-option-content,
.rc-virtual-list-holder-inner {
  background-color: var(--softBg) !important;
  color: var(--softTextColor) !important;
}

.ant-select-item
  .ant-select-item-option
  .ant-select-item-option-active
  .ant-select-item-option-selected {
  background-color: var(--softBg) !important;
  color: var(--softTextColor) !important;
}

#rc_select_1_list_0 {
  background-color: var(--softBg) !important;
  color: var(--softTextColor) !important;
}

.slick-track {
  display: flex !important;
  gap: 15px;
}

.slick-list {
  display: flex !important;
  justify-content: center !important;
}

.slick-prev {
  display: none !important;
  opacity: 0 !important;
}
.slick-next {
  display: none !important;
  opacity: 0 !important;
}



@media screen and (min-width: 700px) {
  .tiptap.ProseMirror img {
    width: 500px;
  }
}
