.container {
  padding: 16px;
}

.heading {
  color: var(--textColor);
}

.textLogo {
  font-size: large;
  font-weight: 500;
  text-decoration: solid;
  color: var(--textColor);
}

@media screen and (min-width: 700px) {
  .textLogo {
    font-size: 1.5rem;
  }
}
