.container {
  padding: 10px;
  display: grid;
  gap: 20px;
}

.span {
  background-color: var(--softTextColor);
}

.heading{
  font-size: 26px;
  color: var(--softTextColor);
  font-weight: 500;
}


.authorPosts{
  display: grid;
  gap: 20px;
}



@media screen and (min-width: 1020px) {
  .container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    margin-top: 5rem;
  }

  .span {
    display: none;
  }

  .authorInfo{
    order: 1;
    flex: 1;
    position: sticky;
    top: 65px;
    margin-left: 1.5rem;
  }
}
