.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: var(--softBg);
  padding: 10px;
}

.btn {
  border: none;
}

.select {
  position: relative;
}

.span {
  padding: 0.2rem;
  outline: var(--textColor) 1px solid;
  border-radius: 5px;
  font-size: 0.9rem;
  color: var(--textColor);
}

.ul {
  position: absolute;
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--softBg);
  color: var(--textColor);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  opacity: 0;
  visibility: hidden;
  transition: ease-in 0.2s;
}

.li {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.9rem;
}

.isulactive{
    opacity: 1;
    visibility: visible;
    transition: ease-in 0.2s;
}