.container{
border-bottom: 1px solid var(--textColor);
padding: 1rem 0;
}

.homeTitle{
    font-size: 30px;
    font-weight: 300;
    line-height: 120%;
    color: var(--textColor);
}

.homeTitleBold{
    font-weight: 500;
}

@media screen and (min-width:700px) {
    .homeTitle{
        font-size: 46px;
    }
}


@media screen and (min-width:900px) {
    .homeTitle{
        font-size: 56px;
    }
}