.container {
  /*  */
  display: grid;
  gap: 2rem;
}

.RecommentArticles {
  padding: 0.9rem;
}

.Postcontainer {
  padding: 0.9rem 0.9rem 2rem 0.9rem;
  display: grid;
  gap: 2rem;
  border-bottom: var(--softTextColor) 1px solid;
}

.infoContainer {
  display: grid;
  gap: 1.2rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
  color: var(--textColor);
}

.postInfo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon {
  font-size: 1.2rem;
  color: var(--softTextColor);
}

.date {
  color: var(--softTextColor);
  font-size: 0.9rem;
}

.authorInfo {
  color: var(--textColor);
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
}

.authorImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  outline: 1px solid var(--softTextColor);
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 250px;
}

.image {
  width: 100%;
}

.text {
  color: var(--softTextColor);
  font-weight: 400;
  line-height: 200%;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}

.tag {
  padding: 0.3rem;
  border-radius: 7px;
  font-size: 0.9rem;
  font-weight: 500;
}

.likeDislikeSavePostContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likeIcon,
.dislikeIcon,
.commentIcon,
.saveIcon {
  color: var(--textColor);
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.likeCount,
.dislikeCount,
.commentCount {
  color: var(--textColor);
  font-size: 1rem;
}

.likeIcon:hover,
.dislikeIcon:hover,
.commentIcon:hover,
.saveIcon:hover {
  color: var(--softTextColor);
}

.likeDislikeContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.likeContainer,
.dislikeContainer,
.commentContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.textContainer {
  display: grid;
  gap: 1rem;
}

/* .commentsContainer {
  padding: 0.9rem 0.9rem 2rem 0.9rem;
  border-bottom: var(--softTextColor) 1px solid;
} */

@media screen and (min-width: 700px) {
  .imgContainer {
    height: 350px;
  }
}

@media screen and (min-width: 900px) {
  .imgContainer {
    height: 550px;
  }
  .title {
    font-size: 2.5rem;
    text-align: center;
  }
  .postInfo {
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .Postcontainer, .commentsContainer {
    width: 900px;
    margin: auto;
  }

  .title {
    font-size: 3rem;
  }
}
