.container {
  padding: 1rem;
}


.input{
    background-color: var(--softBg);
    padding: 10px;
    border: none;
    outline: none;
    color: var(--textColor);
}

.btn{
    color: var(--textColor);
}

.heading{
    color: var(--textColor);
    font-size: 2.5rem;
}


.para{
    color: var(--softTextColor);
}